#container{
    height:150px;
    width:1200px;
    background-color: yellow;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:end;
    justify-content: space-evenly;
}
.navbar{
    background-color: black;
    height:20px;
    width:1200px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    

}
#nav>a{
    padding:90px;
    color:white;
    text-decoration:none;
}
.box1{

    height:100px;
    width:100px;
    background-color: green;
    text-align: center;
}
.box2{

    height:100px;
    width:100px;
    background-color: pink;
    text-align: center;
}
.box3{

    height:100px;
    width:100px;
    background-color: purple;
    text-align: center;
}
.box4{

    height:100px;
    width:100px;
    background-color: red;
    text-align: center;
}
