*{
    font-size: 15px;
    background-color:rgb(240, 183, 183);
}
h1{
    color:green;
}
input[type="text"]{
    background-color: aqua;
}
#one{
    color:yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.two{
    color:red;
    font-size:large;
}
.three{
    color:rgba(212, 20, 20, 0.495);
}
[placeholder="attribute selector"]{
    color:red;
}