body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    border: 2px solid #333;
    width: 640px;
    height:640px;
}
.square {
    width: 80px;
    height: 80px;
}

.black {
    background-color: #000000;
}

.white {
    background-color: #ffffff;
}