#header{
    background-color: rgb(71, 43, 43);
    color: #fff;
    margin: 0%;
    padding: 0%;
}
h1{
    margin-left: 10px;
}
.container{
    width: 80vw;
    margin: 20px auto; 
    display: grid;
    grid-auto-rows: 200px;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}
.content{
    background-color: rgb(219, 198, 198);;
    border-radius: 12px;
    padding:8px;
}
.content h2{
    color:blue;
}
#pic img{
    height:180px;
    width: 200px;
    padding: 10px;
}
#pic:hover{
    opacity: 0.5;
    background-image:url(camera-solid.svg);
    position:absolute;
}